<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hatchling</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
    <header class="main-header">
      <div class="brand">
        <div class="logo">
          <a href="/"><img class="icon" src="{{ url_for('static', filename='images/Hatchling-new.png') }}"></a>
        </div>
        <div><a href="/"><h1>Hatchling</h1></a></div>
      </div>
      
      </div>
      <div class="nav">
        <a href="#">Sign in</a>
        <a href="#">Sign up</a>
      </div>
    </header>

    {% block content %}
    {% endblock content %}
    </div>
    
    <footer class="main-footer">
      <div><p>Made with <3 in San Francisco at <a href="http://www.snd.org/2016/04/meet-sndmakes-sf/">SNDMakes</a> by Team Dogpatch. Code at <a href="https://github.com/duner/sndmakes-sf">GitHub repo</a>.</p></div>
    </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>