{% extends 'base.html' %}

{% block content %}
<div class="progressbar right">
	<div>
		<p class="progressbar-text">0% completed</p>
		<div><div class="moveme"></div></div>
	</div>
</div>
<section id="fc-container">		
	<div class="home-slide" slide="home">
		<div class="ducks">
		    <div class="home fc-slide">
		        <h2>Hatch out of your shell to grow and nurture professional relationships one event at a time.</h2>
		        <div class="button">Get Started</div>
		    </div>
		</div>
	</div>
	<div class="fc-slide right profile" slide="info1">
		<h2>We're glad you're here! Tell us about yourself.</h2>
		<div>
			<p>What's your name?</p>
			<input type="text">
		</div>
		<div class="small_button" box="info1">NEXT</div>
	</div>
	<div class="fc-slide right profile" slide="info2">
		<h2>Hi, NAME. We just need a few more details.</h2>
		<div>
			<div>
				<div class="circle">
					<p>Upload</p>
				</div>
			</div>
			<div>
				<div>
					<p>What do you do?</p>
					<input type="text">
				</div>
				<div>
					<p>What is your email address?</p>
					<input type="text">
				</div>
			</div>
		</div>
		<div>
			<h2>What can you offer other attendees?</h2>
			<div>
				<div>
					<input type="checkbox">
					<p>Product design skills</p>
				</div>
				<div>
					<input type="checkbox">
					<p>Available for coffee</p>
				</div>

			</div>
		</div>
		<div>
			<div class="small_button" box="info2">NEXT</div>
		</div>
	</div>
	<div class="fc-slide right" slide="looking_for">
		<h2>I'm looking to make <a class="choiceopt" box="looking_for" href="#" onclick="return false;">connections</a> with people.</h2>
	</div>
	<div class="fc-slide right" slide="skills">
		<h2>I'm looking to build skills in this <a class="choiceopt" box="skills" href="#" onclick="return false;">area</a></h2>
	</div>
	<div class="fc-slide left" slide="networking">
		<h2>I'm looking to meet up with someone for <a class="choiceopt" box="networking" href="#" onclick="return false;">this goal</a></h2>
	</div>
</section>
{% endblock %}