html, body {
    height: 100%;
    background-color: rgb(247,247,247);
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

header {
    max-height: 100px;
    padding: 0.25em 0.5em;
    position: relative;
    background-color: #D95847;
    width: 100%;
}

header .brand > div { display: inline-block; }
header .logo { 
    height: 3.5em; 
    margin-top: .25em;
}
header .logo img { height: 100%; }
header .name {
    top: -.75em;
    position: relative;
}

header .nav {
    right:2%;
    height:100%;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
}

header .nav a {
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1rem;
    padding-right: .5rem;
    vertical-align: sub;
}

header .nav a:hover {
    text-decoration: underline;

}

h1 {
    display: inline-block;
    font-weight: 700;
    margin: 0;
    position: relative;
    color:#fff;
    top: -10%;
    text-transform: lowercase;
}

h2 {
    font-weight: 500;
}

p {
    font-weight: 400;
}

.home-slide {
    width: 100%;
    height: 100%;
    position: absolute;
}

.ducks {
    border-top: 10em solid rgb(241,241,241);
    height: 100%;
    width: 100%;
    background-image: url(/static/images/ducks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div.home {
    position: absolute;
    bottom: 35%;
    right: 25%;
    text-align: center;
    width: 50%;
}

div.home h2 {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: .5em;
    font-size: 2.25em;
}
div.home button {
    font-size: 1.75em;
}

.button {
    padding: 1em;
    font-size: 1em;
    background-color: orange;
    display: inline-block;
    cursor: pointer;
    color:#fff;
}

.cards {
    max-width: 900px;
    margin: 0 auto;
}

.card {
    padding: 1em;
    margin-top: 1em;
    border: 3px solid black
}

.card img {
    width: 100px;
    margin-right: 1em;
}

.card .card-main {
    width: calc(100% - 1em - 100px);
    float: right;
}

.card-header {
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    margin-bottom: .5em;
}
.card h2,
.card h3  {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

.card h2 {
    margin-right: .25em;
    color: #D95847;
}

.card h3 {
    font-weight: 500;
}

.card p {
    margin-top: .125em;
    margin-bottom: .125em;
}

.card-body span {
    font-weight: 500;
}

.card .buttons {
    display: block;
    margin-top: .5em;
}

.card buttons button {
    display: inline-block;
}

.card:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer {
    height: 40px;
    padding: 0.25em 0.25em;
    width: 100%;
    background: #D95847;
}

footer p {
    text-align: center;
    font-size: .6rem;
    color:#fff;
    top: .5em;
    position: relative;
}

footer a {g
    color:#fff;
    text-decoration: underline;
}


#fc-container {overflow:hidden;width:100%;height:84.2%;position:relative;top:0;left:0;}
.fc-slide {position:absolute;width:50%;height:50%;bottom:25%;z-index:100;}
.fc-slide.left {left:-4000px;}
.fc-slide.right {right:-4000px;}
.fc-slide.bottom {bottom:-4000px;}
.fc-slide h2 {text-align:center;}
.fc-slide a {color:#D95847;}
.choicebox {display:inline-block; position:relative; z-index:1000; background: orange; color: #fff;}
.choicebox p {font-size:1.5em;color: #fff;cursor:pointer;padding:10px;text-align:center;margin: 0;border-bottom: 1px solid #666;}
.choicebox p:hover {background:#666;}

.small_button {background: #444;color: #fff;font-size: .8rem;display: block;padding: .3rem 1rem;margin: 1rem auto;width: 32px;cursor:pointer;}

.fc-slide[slide="info1"]>div:first-of-type {}
    .fc-slide[slide="info1"]>div:first-of-type p {text-align: center;}
    .fc-slide[slide="info1"]>div:first-of-type input {width: 90%;border: 1px solid #000;padding: 0 4.5% 0 4.5%;height: 25px;}



a.choiceopt:after {
    display: inline-block;
    content: '\25BC';
    font-size: .5em;
    position: relative;
    top: -.125em;
    margin-left: .25em;
    margin-right: .125em;
}

a.choiceopt {
    padding-left: .15em;
    padding-right: .15em;
}


.choicebox p {
    padding-left: 1em;
    padding-right: 1em;
}
